/*
https://www.ideenlounge.de/der-cookie-hinweis-ohne-plugin-ohne-javascript-zum-copypaste-in-zwei-coolen-styles/
*/
#cookiedingsbums {
	color: white;
	outline: 1px solid #7b92a9;
	border-top: 1px solid #fff;
	background: #00a3e0;
	position: fixed;
	bottom: 0px;
	z-index: 10000;
	width: 100%;
	font-size: 14px;
	line-height: 14px;
}
#cookiedingsbums #cookiedingsbums-content {
	margin: 0 auto;
	max-width: 75%;
}
#cookiedingsbums #cookiedingsbums-text {
	float: left;
	max-width: 75%;
	text-align: left;
	margin: 5px 0;
	padding: 5px;
	line-height: 1.4;
}
#cookiedingsbums #cookiedingsbums-text a {
	color: white;
}
#cookiedingsbums #cookiedingsbums-buttons {
	float: right;
	max-width: 25%;
	margin: 5px 0;
	padding: 15px;
	white-space: nowrap;
}
#cookiedingsbums #cookiedingsbums-buttons #cookiedingsbums-agree, #cookiedingsbums #cookiedingsbums-buttons #cookiedingsbums-find-out-more {
	color: black;
	background-color: #ededed;
	padding: 5px 15px;
	margin-right: 5px;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
}
#cookiedingsbums #cookiedingsbums-buttons #cookiedingsbums-agree:hover, #cookiedingsbums #cookiedingsbums-buttons #cookiedingsbums-find-out-more:hover {
	background-color: #fdfdfd;
}
/* mobile --------------------------------------*/
@media screen and (max-width: 869px) {
	#cookiedingsbums #cookiedingsbums-content {
		max-width: 100%;
	}
	#cookiedingsbums #cookiedingsbums-text {
		float: none;
		max-width: 100%;
	}
	#cookiedingsbums #cookiedingsbums-buttons {
		float: none;
		max-width: 100%;
		text-align: center;
	}
	#cookiedingsbums #cookiedingsbums-buttons #cookiedingsbums-agree, #cookiedingsbums #cookiedingsbums-buttons #cookiedingsbums-find-out-more {
		display: block;
		margin-bottom: 15px;
	}
}