@charset "utf-8";

body main {
  max-width: 50rem;
  margin: 0 auto;
}

h1 {
  margin-bottom: 5rem;
}

h2 {
  margin-bottom: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

h3 {
  font-size: .875rem;
  font-weight: 700;
}

p {
  font-size: .875rem;
}

main a {
  color: #00a3e0;
  font-weight: 700;
}

main {
  margin-bottom: 2rem;
}

form ul {
  list-style-type: none;
}

form fieldset>ul>li {
  margin-bottom: 20px;
}

form fieldset {
  border: 0;
}

form fieldset legend {
  color: #e2001a;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

form #salutation>* {
  float: left;
}

form #salutation ul li {
  display: inline-block;
}

form #li-firstname, #li-mobile {
  float: left;
  width: 50%;
}

form #li-lastname, #li-email {
  float: left;
  width: 50%;
}

form #salutation label {
  margin-right: .75rem;
}

form input {
  display: block;
  width: 100%;
}

form label {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.8;
}

form [type="text"], form [type="password"], form [type="email"], form [type="tel"], form [type="number"], form textarea {
  border-radius: 3px;
  border-color: #d3d2ca;
  padding: 3px 3px 3px 10px;
  background: #ecece8;
  line-height: 28px;
  border: 1px solid #8a8a8a;
}

.padding-right {
  padding-right: .9375rem;
}

/*form #li-address {
  float: left;
  width: 100%;
}*/
form #li-address input {
  width: 100%;
}

.clear-left {
  clear: left;
}

textarea {
  width: 100%;
}
