Anforderungen der technischen Umsetzung
+ Sprache: html5
+ Benutzung von semantisch korrekten (inhaltsspezifischen) Tags (html5-Tags, ul für ein Menu, Hauptüberschrift=h1, …)
+ externe CSS
+ Verwendung von css2 und css3-Befehlen:
  + @font-face
  - filter
  - ...
+ responsive Webdesign
  + index.html:
    + <aside> "Mehr über die Registrierung" erscheint unterhalb der <section> "Überprüfen Sie die Voraussetzungen"
    + "Über die Stammzellspende", "Periphere Stammzellspende" und "Knochenmarkspende" erscheinen untereinander
    + "Spenden Sie Geld", "Weitersagen" und "Motivieren Sie andere" erscheinen untereinander
    + footer erscheinen "Über uns", "Werden Sie aktiv", "Folgen Sie uns", ... untereinander
    + Burger-Menü: siehe
      - Aufgaben/_Aufgaben/_Ergebnisse/Aufgabe05Kulturarena-BurgerMenu
      - 305seitlichesklick-nav-2dim-ssst.html
      - Aufgaben/Pixelgreen
  + kontakt.html
  + impressum.html
- mobile first: css für mobile Ansicht ist der Default, css für Desktop dann in einem media-Query unterbringen.
+ Min. eine Schrift im Projektordner speichern und in das Projekt einbinden
+ Formular (z.B. Kontaktformular): (vorführen, nicht im Konzept beschreiben)
  "Über die Stammzellspende" => WEITERLESEN => "Nachricht schreiben" => https://webforms.dkms.de/de/DE/contact/registration/
  + responsives Formular
+ Pflichtangaben für Webseiten erstellen, richtig einbinden
  + Datenschutz
  + Impressum
+ Favicon
+ Grafiken in Photoshop für Web optimieren (z.B. HTML <picture> Tag verwenden: https://www.w3schools.com/tags/tag_picture.asp):
  - https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images
  - https://developers.google.com/web/fundamentals/design-and-ux/responsive/images?hl=de
  - https://entwickler.de/online/web/5-tipps-responsive-images-html-173375.html
  - https://www.w3schools.com/howto/howto_css_image_responsive.asp
  - https://www.w3schools.com/css/css_rwd_images.asp
  - https://css-tricks.com/planning-for-responsive-images/
- mind. 1 Seitenelement frameworkbasierend bzw. JavaScript (Bildergalerie, Slider, …), z.B.:
  + WEITERLESEN-Links mit javascript umsetzen
  - baue die Bildergalerie von https://www.dkms.de/de ein.
  - lasse die Texte und Pfeile in other-ways-to-help z.B. beim Scrollen von links und rechts einfliegen
  - in #become-a-donor einige der Schritte 0-5 ausprogrammieren mit javascript.
+ Download einer pdf-Datei ermöglichen (vorführen, nicht im Konzept beschreiben)
+ auf den 4 gängigen Browsern fehlerfrei dargestellt
  - Mozilla Firefox
  - Google Chrome
  - Internet Explorer
  - MicrosoftEdge
+ Suchmaschinenoptimierung (meta-Tags, robots.txt, sitemap.xml, keywords im Text verwenden)
  (see lecture/118SEO.html)
+ HTML-Seiten validieren, z.B. mit https://validator.w3.org/
- Konzept.docx
+ "cookies akzeptieren" dazufügen

Fragen: - Sind bei der HTML-Validierung Warnungen ok? fehlende alt-Attribute in img-Tags sind nicht ok, andere Warnungen schon.
	    - "mind. 1 Seitenelement frameworkbasierend bzw. JavaScript": Ist das schon erfüllt, falls man eigenen, sehr einfachen Javascript-Code auf der Seite hat? Lieber noch ein Framework einbinden, Krimskrams einbauen.

